@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Mode Menu */

#mode-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.mode-btn {
    height: 10%;
    width: 5%;
}

/* Player info form */

.player-data {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    cursor: default;
}